$color:           #fff !default; // цвет полосок
$duration:        .2s !default; // время перехода
$delay:           .4s !default; // задержка перехода
$width:           40px !default; // ширина бургера
$height:          4px !default; // высота полосок
$border-radius:   4px !default;