extends ../../pug/layout
include ../../pug/includes

block title
  title Burgers

block content
  body
    .wrapper
      +burger()
      +burger('flip')
      +burger('rotate')
      +burger('arrow-left')
      +burger('arrow-right')
      +burger('arrow-turn-left')
      +burger('arrow-turn-right')
      +hamburger
