extends ../../pug/layout
include ../../pug/includes

block title
  title Burgers

block content
  body
    .wrapper
      +hamburger
      +hamburger('collapse')
      +hamburger('storm')
      +hamburger('juggler')
      +hamburger('shurikens')
      +hamburger('shurikens-r')
      +hamburger('shurikens-alt')
      +hamburger('shurikens-alt-r')
      +hamburger('minify')
      +hamburger('arrowturn')
      +hamburger('arrowturn-r')
      +hamburger('arrowdown')
      +hamburger('arrowdown-r')
      +hamburger('magic')
      +hamburger('3d')
      +hamburger('alchemy')