extends ../../pug/layout
include ../../pug/includes

block title
  title Burgers

block content
  body
    .wrapper
      +hamburger
      +hamburger('collapse')
      +hamburger('storm')
      +hamburger('juggler')
      +hamburger('shurikens')