.main-nav {
  $block-name: &;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;

    &_level-1 {
      display: flex;
      justify-content: center;
    }

    &:not(&_level-1) {
      position: absolute;
      min-width: 100%;
      transition: transform .5s, opacity .4s;
      opacity: 0;
      transform-origin: center top;
    }

    &_level-2 {
      transform: scaleY(0);
    }

    &:not(&_level-2) {
      top: 0;
    }

    &_visible {
      transition: transform .5s, opacity .4s !important;
      transform: scaleY(1) !important;
      opacity: 1 !important;

    }

    &_level-2#{block-name}__list_visible {
      transform-origin: center top;
    }

    &:not(&_level-2)#{$block-name}__list_visible {
      transform: translateX(101%) !important;
    }
  }

  &__item {
    position: relative;

    &_level-1 {
      border-right: 1px solid #c7c8ca;

      #{$block-name}__link_level-1::before {
        position: absolute;
        top: 15px;
        left: 12px;
        font-family: Fontawesome, Arial, sans-serif;
        font-size: 18px;
      }

      &:first-child {

        #{$block-name}__link_level-1::before {
          content: '\f015';
        }
      }

      &:nth-child(2) {

        #{$block-name}__link_level-1::before {
          content: '\f07a';
        }
      }

      &:nth-child(3) {

        #{$block-name}__link_level-1::before {
          content: '\f085';
        }
      }

      &:nth-child(4) {

        #{$block-name}__link_level-1::before {
          content: '\f00b';
        }
      }

      &:nth-child(5) {

        #{$block-name}__link_level-1::before {
          content: '\f2b6';
        }
      }
    }

    &:not(&_level-1) {
      border: 1px solid #c7c8ca;
      border-top: 0;
    }

    &:not(&_level-2) {
      border-left: 0;
    }

    &_has-child {

      > #{$block-name}__link::after {
        content: '\f0d7';
        position: absolute;
        top: 15px;
        right: 12px;
        font-family: Fontawesome, Arial, sans-serif;
      }
    }

    &_has-child:not(&_level-1) {

      > #{$block-name}__link::after {
        top: 12px;
        transform: rotate(-90deg);
      }
    }

    &_level-1:first-child {
      border-left: 1px solid #b2b3b5;
    }

    &_level-1:last-child {
      border-right: 1px solid #b2b3b5;;
    }

  }

  &__link {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 14px;
    color: #454547;
    background-color: #ececed;
    background-image: linear-gradient(to bottom, #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease;
    cursor: pointer;

    &:not(&_level-1) {
      padding: 10px;
      text-transform: none;
      background: #e4e4e5;
    }

    &:hover {
      color: #fff;
      background-color: #454547;
      background: linear-gradient(to bottom, #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%);
      box-shadow: 1px 5px 10px -5px black;
      transition: all .5s ease;

      &::before {
        color: #fff;
      }
    }

    &_level-1 {
      padding: 15px 30px 15px 40px;
    }
  }
}