mixin main-nav(selectedID)
  include main-nav.data.pug

  nav.main-nav&attributes(attributes)
    ul.main-nav__list.main-nav__list_level-1
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem, 1)
          if (typeof menuItem.children !== 'undefined' && menuItem.children)
            +main-nav-sublist(2)
              each menuItem2 in menuItem.children
                +main-nav-item(selectedID, menuItem2, 2)
                  if (typeof menuItem2.children !== 'undefined' && menuItem2.children)
                    +main-nav-sublist(3)
                      each menuItem3 in menuItem2.children
                        +main-nav-item(selectedID, menuItem3, 3)
                          if(typeof menuItem3.children !== 'undefined' && menuItem3.children)
                            +main-nav-sublist(4)
                              each menuItem4 in menuItem3.children
                                +main-nav-item(selectedID, menuItem4, 4)


mixin main-nav-item(selectedID, item, level)
  -
    var thisItemClass = `main-nav__item main-nav__item_level-${level}`;
    var thisLinkClass = `main-nav__link main-nav__link_level-${level}`;

    if (selectedID === item.id)
      thisItemClass += ' main-nav__item_active';

    if (item.children)
      thisItemClass += ' main-nav__item_has-child';

  li(class= thisItemClass)
    a(class= thisLinkClass, href= item.url)= item.name
    block

mixin main-nav-sublist(level)
  -
    var listClass = `main-nav__list main-nav__list_level-${level}`;
  ul(class= listClass)
    block