-
  const mainMenu = [
    {
      name: 'Главная',
      url: '#',
      id: '1'
    },
    {
      name: 'Продукция',
      url: '#',
      id: '2',
      children: [
        {
          name: 'Телефоны',
          url: '#',
          id: '2-1'
        },
        {
          name: 'Ноутбуки',
          url: '#',
          id: '2-2',
          children: [
            {
              name: 'Asus',
              url: '#',
              id: '2-2-1'
            },
            {
              name: 'Samsung',
              url: '#',
              id: '2-2-2'
            },
            {
              name: 'Nokia',
              url: '#',
              id: '2-2-3',
              children: [
                {
                  name: 'z-300 ide',
                  url: '#',
                  id: '2-3-1'
                },
                {
                  name: 'z-300 ide',
                  url: '#',
                  id: '2-3-1',
                children: [
                {
                name: 'Asus',
                url: '#',
                id: '2-2-1'
                },
                {
                name: 'Samsung',
                url: '#',
                id: '2-2-2'
                },
                {
                name: 'Nokia',
                url: '#',
                id: '2-2-3',
                children: [
                {
                name: 'z-300 ide',
                url: '#',
                id: '2-3-1'
                },
                {
                name: 'z-300 ide',
                url: '#',
                id: '2-3-1'
                }
                ]
                }
                ]
                }
              ]
            }
          ]
        },
        {
          name: 'Компьютеры',
          url: '#',
          id: '2-3',
          children: [
            {
              name: 'Asus',
              url: '#',
              id: '2-3-1'
            },
            {
              name: 'Samsung',
              url: '#',
              id: '2-3-2'
            },
            {
              name: 'Nokia',
              url: '#',
              id: '2-3-3'
            }
          ]
        },
        {
          name: 'Планшеты',
          url: '#',
          id: '2-4'
        },
        {
          name: 'Фотоаппараты',
          url: '#',
          id: '2-5'
        }
      ]
  },
  {
    name: 'Услуги',
    url: '#',
    id: '3',
    children: [
      {
        name: 'Дизайн',
        url: '#',
        id: '3-1'
      },
      {
        name: 'Верстка',
        url: '#',
        id: '3-2'
      },
      {
        name: 'Фронтенд',
        url: '#',
        id: '3-3'
      },
      {
        name: 'Бэкенд',
        url: '#',
        id: '3-4'
      },
      {
        name: 'Проектирование',
        url: '#',
        id: '3-5'
      }
    ]
  },
  {
    name: 'Новости',
    url: '#',
    id: '4',
    children: [
      {
        name: 'Программирование',
        url: '#',
        id: '4-1'
      },
      {
        name: 'Технологии',
        url: '#',
        id: '4-2'
      },
      {
        name: 'Бизнес',
        url: '#',
        id: '4-3'
      },
      {
        name: 'Финансы',
        url: '#',
        id: '4-4'
      },
      {
        name: 'Кино',
        url: '#',
        id: '4-5'
      }
    ]
  },
  {
    name: 'Контакты',
    url: '#',
    id: '5',
    children: [
      {
        name: 'Отдел продаж',
        url: '#',
        id: '5-1'
      },
      {
        name: 'Отдел маркетинга',
        url: '#',
        id: '5-2'
      },
      {
        name: 'Логистика',
        url: '#',
        id: '5-3'
      },
      {
        name: 'Дядя Вася',
        url: '#',
        id: '5-4'
      },
      {
        name: 'Отдел кадров',
        url: '#',
        id: '5-5'
      }
    ]
  }
  ];
